<!DOCTYPE html>
<html>
  <head>
  <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  </head>


  <body>
  <%= link_to '/' do %>
    <center><img src="<%= image_url("TransAdvisor_Logo.png") %>" alt="TransAdvisor Logo" align="center" height="300" width="300"></center>
  <% end %>
    <div class="nav">
      <div class="container">
        <ul>
          <li><a href="/about"> About </a></li>
          <li><a href="/guides">Guides</a></li>
          <li><%= link_to 'Institutions', institutions_path %></li>
        </ul>
        <%# <ul> %>
        <%#   <li><a href="#">Write Review</a></li> %>
        <%#   <li><a href="#">Read Review</a></li> %>
        <%#   <li><a href="#">Log In</a></li> %>
        <%# </ul> %>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Leave A Review Today.</h1>
        <p>Reviews of health services for trans people</p>
      </div>
    </div>

    <div class="learn-more">
	  <div>
		<div>
	  	  <div>
          <p>Welcome to TransAdvisor - the website for trans people to review their healthcare and search for trans-friendly healthcare providers. GPs, sexual health services, mental health services and other healthcare providers can make accessing health care easier or harder depending on their attitude towards and knowledge and experience of trans issues. Accessing health care can be intimidating if you don’t know how your gender presentation or identity will be received by your caregiver - TransAdvisor aims to help trans people access friendly and inclusive healthcare and alert other trans people to healthcare providers and institutions that might make them feel unwelcome and unsafe.</p>
			<h3>About</h3>
			<p>TransAdvisor was created for trans people by a...</p>
			<p><a href="#">Click here to learn more.</a></p>
		  </div>
		  <div>
			<h3>Guide</h3>
			<p>This is our guid of things to think about...</p>
			<p><a href="#">Click here to read our guides.</a></p>
		  </div>
		  <div>
			<h3>Reviews</h3>
			<p>Leave your reviews and read reviews left by...</p>
			<p><a href="#">Click here for reviews.</a></p>
		  </div>
	    </div>
	  </div>
	</div>
  </body>
</html>
