<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Youth friendly:</strong>
  <%= @review.youth_friendly %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<%= link_to 'Edit', edit_institution_review_path(@institution, @review) %>
<%= link_to 'Back', institution_path(@institution) %>
