<!DOCTYPE html>
<html>
<head>
  <title>Transadvisor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= link_to '/' do %>
    <center><img height=200 src="<%= image_url("Small_TransAdvisor_Logo.png") %>" alt="TransAdvisor Logo" align="center" ></center>
  <% end %>
    <div class="nav">
      <div class="container">
        <ul class="nav-menu">
          <li><a href="/about"> About </a></li>
          <li><a href="/guides">Guides</a></li>
          <li><%= link_to 'Institutions', institutions_path %></li>
        </ul>
        <%# <ul> %>
        <%#   <li><a href="#">Write Review</a></li> %>
        <%#   <li><a href="#">Read Review</a></li> %>
        <%#   <li><a href="#">Log In</a></li> %>
        <%# </ul> %>
      </div>
    </div>
<%= yield %>
<div class="learn-more">
	  <div>
		<div>
	  	  <div>
			<h3>About</h3>
			<p>TransAdvisor was created for trans people by a...</p>
			<p><a href="#">Click here to learn more.</a></p>
		  </div>
		  <div>
			<h3>Guide</h3>
			<p>This is our guid of things to think about...</p>
			<p><a href="#">Click here to read our guides.</a></p>
		  </div>
		  <div>
			<h3>Reviews</h3>
			<p>Leave your reviews and read reviews left by...</p>
			<p><a href="#">Click here for reviews.</a></p>
		  </div>
	    </div>
	  </div>
	</div>
</body>
</html>
